.main{
    display: flex;
    flex-direction: column;
    padding: 5rem;
    justify-content: center;
    align-items: center;
}
.buttons-container{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}