.main-container {
    display: flex;
    flex-direction: row;
    background-color: #000000d9;
    height: 100vh;
    align-items: center;
    overflow: hidden;
}

.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 500px;
    width: 800px;   
    overflow: hidden;
}

.image {
    display: flex;
    justify-content: center; 
    max-width: 100%;
}
.image-1{
    height: 400px;
    width: 400px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.heading {
    font-size: 3rem;
    font-weight: bold;
}

.heading-1 {
    font-size: 1.3rem;
}


@media only screen and (max-width: 1000px) {
    .main-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #000000d9;
    }
    .image{
        height: 230px;
        width: 200px;
       
    }
    .image-1{
        height: 230px;
        width: 230px;
    }

    .img-container {
        height: 340px;
        width: 400px;
        position: absolute;
        top:70px;
    }
    .heading {
        font-size: 2rem;
        font-weight: bold;
    }
    
}
