.exchanges-container{
 text-align: center;
}
.all-cards{
    position: relative;
    top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:5rem;

}
.exchange-item {
    aspect-ratio: 1;
    position: relative;
    width: 11rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5em 2em;
    transform: scale(1);
    box-shadow: 0 10px 15px -3px #00000026, 0 4px 6px -2px #0000000d;
    outline: 1px solid #0000000d;
    border-radius: 5px;
    transition: transform 250ms linear, outline 250ms linear;
}
.exchange-item:hover{
border: 1px solid black;
transform: scale(1.1) ;
transition: transform 0.3s ease;
}
.exchange-ranking {
   border-radius: 50%;
   border:1px solid black;
   padding: 0.6rem;
   position: absolute;
   text-align: center;
   top:0.6rem;
   left:0.6rem;
   height: 19px;
   width: 15px;
}
.exchange-ranking:hover{
    background-color: black;
    color:white;
}

.exchange-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
button{
    font-size: 1rem;
    height:3rem ;
    width: 13rem;
    border-radius: 7px;
    background-color: white;
    color: black;
    position: relative;
    bottom: -190px;
}
button:hover{
    background-color: black;
    color: white;
    transform: scale(1.1) ;
transition: transform 0.3s ease-out;
}
.exchange-name {
    font-size: 1rem;
}

.exchange-link img {
    width: 20px;
    height: 20px;
}
.headings{
    position: relative;
    top: 70px;
    font-weight:normal;
    font-size: 2rem;
}
@media only screen and (max-width: 1000px) {
    .exchanges-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        overflow: scroll; 
    }
}
